CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_xr30-emmc=y
CONFIG_PACKAGE_arm-trusted-firmware-mediatek-mt7981-emmc-ddr4=y
CONFIG_PACKAGE_uboot-mediatek-mt7981_cmcc_rax3000m-emmc=y
CONFIG_AUTOREMOVE=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_f2fs-tools=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y

# DVB and HD2312
CONFIG_PACKAGE_kmod-dvb-core=y
CONFIG_PACKAGE_kmod-dvb-usb=y
CONFIG_PACKAGE_kmod-dvb-hd2312=y

#
# Applications
#
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-ksmbd=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-zerotier=y

#
# Themes
#
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=y

# Example: How to add a package (e.g., sing-box) from the feeds
# CONFIG_PACKAGE_sing-box=y
# CONFIG_PACKAGE_luci-app-passwall=y
